{{ define "main" }}
<div
    style="display: flex; flex-direction: column; justify-content: center; align-items: center; padding: 20px;">

    <!-- Petition Text -->
    <div style="max-width: 800px; font-size: 1.2rem; line-height: 1.6;">
        <header>
            <h1>European Politicians and Leaders Must Act Now to Protect Democracy</h1>
        </header>

        <article>
            <section>
                <p>Since Elon Musk's acquisition of Twitter over two years ago, the platform—now rebranded as X—has
                    taken a troubling turn. The growing influence of its CEO in shaping political narratives and
                    promoting specific ideologies, including altering how content is prioritized to reflect his own
                    interests, has become increasingly apparent.</p>

                <p>As one of the world’s most visited social media platforms, with millions of active users and a
                    significant influence on media outlets, it is alarming to see X transform from a potential hub for
                    open political discourse into a vehicle for biased agendas.</p>

                <p>The continued use of X/Twitter by political leaders across Europe inadvertently lends credibility to
                    a platform increasingly used to amplify divisive rhetoric and individual interests. In doing so,
                    they leave marginalized groups—whom they represent—with little choice but to engage in a hostile
                    environment to have their voices heard, failing in their duty to protect and empower all
                    constituents and ultimately undermining democratic integrity.</p>

                <p>We urge you to take a stand against this troubling development by enacting a simple yet powerful act:
                    cease using X/Twitter as a medium for political communication and delete or deactivate any official
                    accounts on the platform. This symbolic gesture would:</p>

                <ol>
                    <li>Undermine the (already compromised) credibility of X/Twitter, compelling individuals to seek out
                        more reliable and responsible sources of information.</li>
                    <li>Encourage the use and development of alternative platforms that align with European values of
                        accountability and fairness.</li>
                    <li>Foster trust among constituents by prioritizing a more open, decentralized, and diverse
                        communication channels.</li>
                </ol>

                <p>Europe has long been a beacon for democratic principles and innovation. By leading the way in
                    rejecting platforms that compromise these ideals, you can significantly reduce the influence of
                    disinformation campaigns that threaten the fabric of democratic societies.</p>

                <p>We call upon all Members of European Parliaments, national leaders, and local officials to act now,
                    for the future of democracy is at stake.</p>
            </section>
        </article>

        <p>
            <strong><a href="https://openpetition.eu/leavex" target="_blank"
                    style="color: #FFD700; text-decoration: none;">Sign the petition today!</a></strong>
        </p>
    </div>
</div>

{{ end }}